program: main.py
method: random
metric:
  name: losses/mse_loss
  goal: minimize

parameters:
  architecture:
    value: "jumprelu"

  jumprelu_init_threshold:
    values: [0.001, 0.01, 0.1]
    
  jumprelu_bandwidth:
    values: [0.01, 0.05, 0.1]
    
  l0_coefficient:
    distribution: log_uniform_values
    min: 1.0
    max: 20.0
    
  l0_warm_up_steps:
    values: [0, 1000, 5000, 10000]
    
  jumprelu_tanh_scale:
    values: [2.0, 4.0, 8.0]

  jumprelu_sparsity_loss_mode:
    value: "step"
            
  pre_act_loss_coefficient:
    value: null

  d_sae:
    values: [1536, 3072, 6144, 9216, 12288]
  
  lr:
    values: [1e-4, 3e-4, 5e-4]
    
  lr_scheduler_name:
    values: ["constant", "cosineannealing", "cosineannealingwarmrestarts"]

  lr_warm_up_steps:
    values: [1000, 5000]
    
  train_batch_size_samples:
    values: [4096, 8192]

  dead_feature_window:
    values: [2000, 5000]

  d_in:
    value: 768
  total_training_samples:
    value: 200_000_000
  autocast:
    value: true
  datasets:
    value: ["cub"]
  data_root:
    value: "../../data"
  model_path:
    value: "./ckpts/clip/openai-clip-vit-base-patch16-cub-best_model"
  cache_dir:
    value: "./cache"
  cls_only:
    value: false
  layer_index:
    value: -1
  log_to_wandb:
    value: true
  wandb_project:
    value: "sae_clip_patches_sweep_cub"